

.border {
  border: 1px solid #dee2e6;
}

.border-thick {
  border-width: 3px;
}

.reveal .slides section::after {
  content: url('C:/Users/Lorenzo/Dropbox/phd_bam_iii_bimester/marketing_strategy/mkt615_short_presentation/Logo.png');
  position: fixed;
  top: 20px;
  right: 20px;
  width: 100px;
  z-index: 1000;
}

.smaller {
  font-size: 0.8em; /* Ad esempio, rende il testo dell'80% della dimensione normale */
}


.text-red {
  color: red;
}

.text-blue {
  color: blue;
}

.text-blue {
  color: darkblue;
}
